{%extends 'base.html'%}
{%block title%}Search | Leng {%endblock%}
{%block includings%}
{%load static%}
{%endblock%}

{%block content%}
<div class="search-screen">

<div class="results-search">
  <div class="container">
    <div class="results__count" > {{counter}} results found</div>
    <div class="results__queue">
      <form action="{%url 'search'%}" method="get" class="d-flex" role="search">
        <input class="form-control me-2" name="query"  placeholder="{{query}}" aria-label="Search" required>
        <button  type="submit" class="search__btn"><i class="fa-solid fa-magnifying-glass" style="color: #757575;"></i></button>
      </form>
    </div>
  </div>
</div>
<div class="container">
    <div class="wrapper__cards_tables">
    {%for user in users%}
    <div class="card">
        <div class="card-body">
          <h5 class="card-title"><a href="{%url 'profile' user.id%}">{{user}}</a></h5>
          <h5 class="card-title">Points: {{user.profile.elo}}</h5>
          <!--
          {%for word in words%}
          <p class="card-text">{{word.wordineng}}</p>
          {%endfor%}
          -->
          
          
        </div>
      </div>
    {%endfor%}
</div>
</div>
</div>
{%endblock%}